:root {
  --indigo: #2f1893;
  --fucsia: #e93a7d;
  --golden: #cbaa5c;
}
.page {
  --main-color: var(--indigo);
  --accent-color: var(--fucsia);
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page_locked {
  overflow: hidden;
}
/* рэппер для всех структурных блоков страницы (хедер, мейн и футер), в нем
  оверфлоу хидден, чтобы не было горизонтального скролла. */
.page__container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  padding: 10px;
  /* прижать футер к низу страницы */
  flex: 1;
}

/* Общие стили для тегов */

.title {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-color);
  max-width: 100%;
}
.h1-title {
  font-size: 85px;
  font-weight: 700;
}
@media (max-width: 700px) {
  .h1-title {
    font-size: 55px;
  }
}
@media (max-width: 400px) {
  .h1-title {
    font-size: 50px;
  }
}
.h2-title {
  font-size: 35px;
  font-weight: 500;
  text-align: left;
}
.h3-title {
  font-size: 45px;
  font-weight: 700;
}

.h4-title {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: bold;
}
.button {
  display: inline-block;
  border: 1px solid;
  border-radius: 30px;
  margin: 0px;
  padding: 14px 42px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: max-content;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button {
    font-size: 16px;
    padding: 16px 48px;
  }
}

.button_transparent {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.button_filled {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
}
.text {
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  margin: 0;
  padding: 0;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-item-reset {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* .link:hover { */
/* text-decoration: underline; */
/* } */
/* можно заменить на модификатор ссылки белого цвета */
.separator {
  border: none;
  border-top: 1px solid rgba(203, 170, 92, 1);
  margin: 40px auto 40px;
  width: 15%;
}
.border-white {
  border: 20px solid white;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .border-white {
    border: none;
  }
}
.box-shadow {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}
.square-container {
  aspect-ratio: 1 / 1; /* Устанавливаем соотношение сторон 1:1 для квадратной формы */
  width: 100%; /* Ширина контейнера может быть адаптивной */
  /* max-width: 300px;    Максимальная ширина контейнера (при необходимости) */
  overflow: hidden; /* Скрываем лишнее содержимое */
}

@media (min-width: 500px) {
  .square-container {
    aspect-ratio: 2 / 1;
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .square-container {
    /* aspect-ratio: 1 / 1; */
    width: 40%;
  }
}

/* -----------------Конец общих стилей */

.header {
  height: 100vh;
  position: relative;
  z-index: 0;
}
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  opacity: 0.4;
  /* background-color: rgb(0 0 0 / 0.4); */
  z-index: 1;
}
.caption {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  font-style: normal;
  text-align: center;
  max-width: 80%;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 768px) {
  .caption {
    font-size: 20px;
  }
}
.caption_align_left {
  text-align: left;
}

.header__caption {
  color: #fff;
  padding: 30px 0px 40px 0px;
  position: relative;
  z-index: 2;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  gap: 45px;
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 805px) {
  .navigation {
    width: 100%;
    /* height: 100vh; */
    position: relative;
  }
}
.header__navigation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.burger {
  position: relative;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 805px) {
  .burger {
    display: none;
  }
}

.burger__line {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.2s;
  z-index: 5;
}
.burger__line:first-of-type {
  top: 0;
}
.burger__line:last-of-type {
  top: auto;
  bottom: 0;
}
.burger_opened .burger__line {
  transform: scale(0);
}

.burger_opened .burger__line:first-of-type {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.burger_opened .burger__line:last-of-type {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.logo {
}
.logo__img {
  max-height: 60px;
}

.menu {
}

@media (max-width: 805px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(203, 170, 92, 1);
    transition: all 0.5s;
  }
}
.menu_opened {
  left: 0;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 805px) {
  .menu__list {
    flex-direction: column;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* z-index: 6; */
  }
}

.menu__link {
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 805px) {
  .menu__link {
    font-size: 30px;
  }
}

.cover {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 550px) {
  .cover {
    width: 75%;
  }
}

/* .cover__title {
  color: #fff;
  align-self: self-start;
} */

@media (max-width: 768px) {
  .cover__title {
    font-size: 55px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(246, 247, 249); */
}
.intro__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

@media (max-width: 768px) {
  .intro__container {
    padding: 65px 0;
  }
}
.intro__text {
  text-align: center;
  padding: 60px 0 0 0;
}
@media (max-width: 768px) {
  .intro__text {
    text-align: left;
  }
}

.excursion-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
@media (min-width: 768px) {
  .excursion-card {
    flex-direction: row;
    gap: 20px;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 247, 249);
  /* background-color: white; */
  padding: 120px 0;
}
.advantages__list {
  padding: 60px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  max-width: 80%;
}

.advantages__item {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.excursions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 120px 0 120px 0;
}

.excursions__list {
  width: 90%;
  padding: 60px 0 0 0;
}

.excursions__list-item {
  padding: 0 0 100px 0;
}
/* .excursions__list-item:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #cbaa5c;
  margin: 0 auto;
  width: 15%;
  padding: 50px 0 50px 0;
} */

.excursions__item {
  display: flex;
  gap: 30px;
  border: 1px solid rgb(235, 238, 241);
  padding: 40px;
  box-shadow: 0px 10px 15px 0px rgba(235, 238, 241, 0.5);
}
@media (max-width: 800px) {
  .excursions__item {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .excursions__item {
    border: none;
    padding: 40px 0 40px 0;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  }
}
.excursions__item_reverse {
  flex-direction: row-reverse;
}

@media (max-width: 800px) {
  .excursions__item_reverse {
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto; */
  }
}
.excursions__item-title {
  padding: 6px 0 30px 0;
}
.excursions__image {
  width: 50%;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  aspect-ratio: 3/2;
}

@media (max-width: 800px) {
  .excursions__image {
    /* aspect-ratio: 3/2; */
    width: 100%;
    max-height: 300px;
  }
}
@media (max-width: 500px) {
  .excursions__image {
    border: none;
  }
}
.excursions__description {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1;
  flex-shrink: 1; */
  flex: 1;
  /* flex-wrap: wrap; */
}
.excursions__button {
  margin: 30px 0 0 0;
}

/* .excursion-card__photo {
  width: 100%; 
  height: 100%; 
  object-fit: cover; /
}

.excursion-card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

/* @media (min-width: 768px) {
  .excursion-card__info {
    width: 70%;
  }
}

.excursion-card__label {
  font-size: 15px;
  color: rgb(151, 8, 16);
  text-transform: uppercase;
  padding: 20px 0 0 0;
}
@media (min-width: 768px) {
  .excursion-card__label {
    padding: 0;
  }
}
.excursion-card__title {
  padding: 10px 0 15px 0;
}
.excursion-card__button {
  margin: 15px 0 0 0;
} */
/* Чтобы футер прижался к низу страницы. 
Оборачиваем всю страницу в блок, делаем его флекс-контейнером, 
внутрь вкладываем хэдер, мейн и футер. 
Родителю задаём flex-direction: column и min-height: 100vh, чтобы он занимал как минимум всю высоту экрана.
 Мейну задаём flex: 1, и вуаля! Центральный блок страницы будет всегда растягиваться на всё доступное свободное пространство.
  Из-за этого футер всегда будет прижиматься к нижнему краю страницы.
  При этом, если контента в мейне будет больше чем на один экран, то он растянется и подстроится, ничего не сломается. */
.footer {
  /* background-color: #f1f5f6; */
  background-color: var(--main-color);

  height: 10vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* делаем у футера сверху внешние отступы автоматические, пока футер не упрется в 
  конец блока - рэппера для страницы */
}

.footer__copyright {
  color: white;
  /* color: #333333; */
  margin: 0;
}

.swiper {
  /* height: 100%; */
  width: 50%;
  /* aspect-ratio: 1 / 1; */
}

.main-slider {
  width: 50%;
  /* aspect-ratio: 4/3; */
  aspect-ratio: 1/1;
  margin-bottom: 10px;
  /* height: 200px;
 
  /* Высота основного слайдера */
}

.thumbs-slider {
  height: 100px; /* Высота слайдера миниатюр */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* width: 100%;
  height: auto; */
}

.thumbs-slider .swiper-slide {
  opacity: 0.5; /* Прозрачность неактивных миниатюр */
}

.thumbs-slider .swiper-slide-thumb-active {
  opacity: 1; /* Прозрачность активной миниатюры */
}
.swiper-button-prev::after {
  color: #fff;
}
.swiper-button-next::after {
  color: #fff;
}

.excursion-cover {
  /* position: relative; */
  width: 100%;
  height: 80vh;
}
.header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
}
.header__intro_align_left {
  align-items: flex-start;
}

.header__title {
  width: 100%;
  color: white;
  z-index: 1;
}

.title_align_left {
  text-align: left;
}

.overwiew {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0px;
  gap: 25px;
}

/* @media (max-width: 800px) {
  .overwiew {
    flex-direction: column;
    gap: 20px;
  }
} */
/* .overwiew__image {
  width: 50%;
  border-radius: 3px;
  object-fit: cover;
   box-sizing: border-box;
  }

@media (max-width: 800px) {
  .overwiew__image {
    width: 100%;
    aspect-ratio: 3/2;
  }
} */
.overwiew__details {
  display: flex;
  gap: 35px;
  padding: 20px;
}

.overview__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* gap: 30px; */
}

@media (max-width: 500px) {
  .overview__list {
    grid-template-columns: 1fr;
  }
}
.overview__item {
  display: flex;
  /* flex-basis: 30%; */
  align-items: center;
  gap: 15px;
  /* width: 100%; */
}
.overview__icon {
  /* height: 35px; */
  width: 50px;
}

.svg-wrapper {
  width: 50px;
  height: 50px;
}
.overview__text {
}

.description {
  width: 90%;
  margin: 0 auto;
  overflow: visible;
}
.description__title {
  padding: 60px 0;
  line-height: 1.7;
  width: 80%;
  margin: 0 auto;
}

.description__photos-container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  padding: 100px 0 200px 0px;

  width: 100%;
  height: 300px;
  /* height: auto; */
}

@media (max-width: 750px) {
  .description__photos-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding: 60px 0 60px 0px;
    height: auto;
  }
}

.description__photo {
  object-fit: cover;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: transform 0.25s;
}
.description__photo:hover {
  transform: scale(1.2);
}

.description__photo:first-of-type {
  transform: rotate(-10deg) translateY(-20px) translateX(0px);
  z-index: 3;
}

.description__photo:nth-of-type(2) {
  transform: rotate(5deg);
  height: 80%;
  z-index: 2;
}
.description__photo:last-of-type {
  transform: rotate(15deg) translateY(120px) translateX(10px);
  z-index: 1;
}
@media (max-width: 750px) {
  .description__photo:first-of-type,
  .description__photo:nth-of-type(2),
  .description__photo:last-of-type {
    transform: none;
    aspect-ratio: 1/1;
    height: auto;
    width: 70%;
    margin: 0 auto;
  }
}
/* .red {
  width: 33%;
  height: 400px;
  background-color: green;
  background-image: url("./images/ostojenka_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(15deg);
}

.green {
  width: 60%;
  height: 400px;
  background-color: green;
  background-image: url("./images/ostojenka_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-15deg);

}
.blue {
  width: 33%;

  height: 400px;
  background-color: green;
  background-image: url("./images/ostojenka_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(10deg);
}
.description__photos-wrapper {
  position: relative;
}

.reed {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 400px;
  z-index: 1;
}
.reed_div {
  width: 50%;
  height: 100%;
  background-color: aqua;
}
.greeen {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 400px;
  z-index: 2;
}
.bluue {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 400px;
  z-index: 3;
}
.reed_image {
  width: 50%;
  height: 100%;
} */
